.main-form {
    max-width: 700px;
    margin: 0 auto;
}

#courts-logo {
    margin-left: 0.5em;
}
.form-heading {
    padding: 0
}

button {
    margin: 0 1em;
}
      

@media (max-width: 768px) {
    .main-form {
        max-width: 100%;
    }
}